body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
input,
button {
    all: unset;
    box-sizing: border-box;
}
.main-livros{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1050px;
}
.main-livros>header{
    margin-top: 25px;
    width: 100%;
    font-size: 14px;
}
.main-livros>header>a>img{
    transition: transform 0.35s ease;
}
.main-livros>header>a{
    transition: color 0.2s ease;
}
.main-livros>header>a:hover{
    color: rgb(212, 212, 212);

}
.main-livros>header>a:hover img{
    transform: translateX(-10px);
}
.livros-home-btn{
    display: flex;
    align-items: center;
    color: white;
    cursor: pointer ;
}
.main-livros>header>h1{
    font-size: 24px;
}
.progress-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 5px 0px;
    margin: 5px 0px 20px 0px;
}
.livros-container{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    width: 100%;
    background-color: #303030;
    border-radius: 16px;
    padding: 35px;
    height: 500px;
    box-shadow: 0px 30px 40px rgba(0, 0, 0, 0.4);
}

.livros-section-buttons{
    display: flex;
    flex-direction: row;
    gap: 20px;
    
}
.livros-section-buttons>button{
    display: flex;
    background-color: #222222;
    align-items: center;
    border-radius: 13px;
    border: solid 1px rgba(0, 0, 0, 0);
    gap: 8px;
    padding: 10px 20px 10px;
    color: #949494;
    transition: box-shadow 0.4s ease;
    transition: background-color 0.35s ease;
} 

.livros-section-buttons>button:hover{
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.35);
    border: solid 1px rgba(0, 0, 0, 0.2);
}
.livros-section-buttons>button:focus {
    box-shadow: 0px 6px 14px rgba(0, 0, 0, 0.55);
    background-color: #282828;
}

.livros-filtros{
    display:flex;
    flex-wrap: wrap;
    gap: 8px;
    justify-content: center;
}

.livros-filtros>*{
    flex:1;
    min-width: 160px;
    border-radius: 15px;
    padding: 1rem 2rem;
    border: solid 2px rgb(80, 80, 80);
    margin-bottom: 35px;
}
.livros-filtros>input{
    padding: 16px 16px;
    font-size: 15px;
}
.livros-filtros>input:focus {
    border: solid 2px #8b5cf6;
}
.livros-filtros>button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border:0;
    background-color: #8b5cf6;
    color: white;
    cursor: pointer;
}
.autor-filtros{
    width: auto;
    white-space: nowrap;
    display: flex;
    gap: 8px;
    background-color: rgb(61, 61, 61);
    color: rgb(168, 168, 168);
    padding: 10px 15px;
    align-items: center;
    align-self: flex-start;
    border-radius: 14px;
}
.main-livros>header>h1{
    transition: color 0.25s ease;
}
.main-livros>header>h1:hover{
    color: #bebebe;
}
.autor-filtros:hover{
    background-color: rgb(66,66,66);
}

.livros-table-wrapper {
    flex: 1;
    overflow-y: auto;
    margin-top: 16px;
}