header {    
    width: 100%;
    background-color: aliceblue;
    padding:0.8rem 0rem 0.8rem 0rem ;
}
body{
    margin:0;
}
.main-index{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.text-index{
    margin-top: 0px;
}
.title-index{
    margin-bottom: 15px;
}
header nav ul{
    list-style: none;
    display: flex;
    margin:0;
    padding: 0;
    gap:1.5em;
}
header nav{
    margin:0px 16px 0px 16px;
    display: flex;
    justify-content: space-between;
}