@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body > header {    
    width: 100%;
    background-color: #1D1F1F;
    padding:0.8rem 0rem 0.8rem 0rem ;
    border-bottom: 1.5px solid #2E2F2F;
}
.nav-main ul li a{
    color: white;
    padding: 0.6rem 1rem;
    border-radius: 20px;
    margin:0;
    transition: background-color 0.25s ease;
}
.nav-main ul li a:hover {
    background-color:rgb(48, 48, 48);
}
.nav-main ul {
    gap: 7px;
}
.nav-main {
    padding: 0.3rem 1rem;   
}
body{
    margin:0;
    background-color: #1D1F1F;
    color: rgb(146, 146, 146);
    font-family: 'Roboto',sans-serif;
}

.ideias-itens{
    margin-left:30px;
}
.main-index{
    margin-top: 8%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.text-index{
    margin-top: 0px;
}

.start-index:hover{
    background-color: rgb(247, 247, 247);
    color: #1d1f1f;
}
.start-index a{
    text-decoration: none;
    color: inherit;
    font-size: 15px;
}
.start-index{
    margin-top: 15px;
    color: #1d1f1f;
    background-color:rgb(233, 233, 233);
    padding: 10px 20px;
    border-radius: 8px;
}
.title-index{
    margin-top: 50px;
    font-size: 50px;
    margin-bottom: 15px;
}



.listas-main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.listas-header{
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.listas-header h1{
    border: 0px;
    margin: 30px 0px 5px;
    color: #bdbdbd;
}




.progress-bar {
    width: 100%;
    height: 6px;
    background-color: #3a3a3a;
    border-radius: 10px;
    overflow: hidden;
    padding: 0px 0px;
    display: flex;
    justify-content: space-between;
    margin: 0px 10px 10px 0px;
}

.progress {
    height: 100%;
    background: linear-gradient(to right, #6c63ff, #8b5cf6);
    border-radius: 10px;
}

.list-elementos{
    flex-direction: column;
    background: #232525;
    transition: transform 0.4s ease;
}
.elementos-itens{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 25px 0px;
    width: 100%;
    box-sizing: border-box;
    font-size: 14px;
}
.elementos-itens p{
    margin:5px 0px;
}
.list-elementos:hover{
    transform: translateY(-10px);
}
.list-elementos:hover a{
    color: rgb(216, 216, 216);
}
.list-elementos .acertos{
    color: #4a8654;
}
.list-itens  a{
    text-decoration: none;
    color: rgb(185, 185, 185);
    font-size: 18px;
    text-align: center;
    margin-top: 10px;
}
.list-itens{
    list-style: none;
    display: flex;
    justify-content: left;
    margin:0;
    padding-left: 15px;
    padding-top: 15px;
}
.list-itens li{
    margin: 10px;
    width: clamp(200px, 20vw, 280px);
    aspect-ratio: 2 / 1;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;

    padding: 15px;
    box-sizing: border-box;

    box-shadow: 0px 4px 10px rgba(0,0,0,0.25);
    border-radius: 20px;
}
.nova-lista{
    border: 2px dashed rgb(87, 87, 87);
}
.nova-lista:hover{
    border: 2px dashed rgb(125,125,125);
}
.nova-lista a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.nova-lista img{
    width: 3rem;
    margin-bottom: 10px;
    background-color: rgb(40, 40, 40);
    transition: filter 0.4s ease;
    border-radius: 8px;
    filter: brightness(1);
}

.nova-lista:hover img{
    filter: brightness(1.2);
}







header nav ul a{
    list-style: none;
    text-decoration: none;
    font-size: 14px;
}
header nav ul{
    list-style: none;
    display: flex;
    margin:0;
    padding: 0;
}
header nav{
    display: flex;
    justify-content: space-between;
}