@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

header {    
    width: 100%;
    background-color: #1D1F1F;
    padding:0.8rem 0rem 0.8rem 0rem ;
    border-bottom: 1.5px solid #2E2F2F;
}
body a{
    text-decoration: none;
    color:  #cacaca;
}
body{
    margin:0;
    background-color: #1D1F1F;
    color: rgb(146, 146, 146);
    font-family: 'Roboto',sans-serif;
}
.main-index{
    margin-top: 8%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.text-index{
    margin-top: 0px;
}

.start-index:hover{
    background-color: rgb(120, 120, 120);
    color: aliceblue;
}
.start-index a{
    text-decoration: none;
    color: inherit;
    font-size: 15px;
}
.start-index{
    margin-top: 15px;
    color: #949494;
    background-color:rgb(68, 68, 68);
    padding: 10px 20px;
    border-radius: 8px;
}
.title-index{
    margin-top: 50px;
    font-size: 50px;
    margin-bottom: 15px;
}
.list-itens{
    list-style: none;
    display: flex;
    justify-content: left;
    margin:0;
    padding-left: 15px;
    padding-top: 15px;
}
.list-itens li{
    margin: 10px;
    width: clamp(200px, 20vw, 280px);
    aspect-ratio: 1 / 1;
    background-color: rgb(68,68,68);

    display: flex;   
    justify-content: center;  
    align-items: center;

    border-radius: 8px;
    border: 2px solid rgb(68,68,68);
}
.list-itens li:hover{
    border:2px solid rgb(140, 140, 140);
}
.list-itens a{
    display: flex;
    flex-direction: column;
    justify-content: flex-end; 
    align-items: center;    
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: rgb(167, 167, 167);
    font-weight: bold;
    padding-bottom: 15px;   
    text-align: center;
    box-sizing: border-box;
}

.list-itens li:hover a {
    color: rgb(255, 255, 255);
}
header nav ul a{
    list-style: none;
    text-decoration: none;
    color:rgb(110,110,110);
    font-size: 14px;
}
header nav ul{
    list-style: none;
    display: flex;
    margin:0;
    padding: 0;
    gap:1.5em;
}
header nav{
    margin:0px 16px 0px 16px;
    display: flex;
    justify-content: space-between;
}