@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body > header {    
    width: 100%;
    background-color: #1D1F1F;
    padding:0.8rem 0rem 0.8rem 0rem ;
    border-bottom: 1.5px solid #2E2F2F;
}
.nav-main ul li a{
    color: white;
    padding: 0.6rem 1rem;
    border-radius: 20px;
    margin:0;
}
.nav-main ul li a:hover {
    background:linear-gradient(to top, rgb(53, 53, 53), rgb(48, 48, 48));
}
.nav-main ul {
    gap: 7px;
}
.nav-main {
    padding: 0.3rem 1rem;
}
body{
    margin:0;
    background-color: #1D1F1F;
    color: rgb(146, 146, 146);
    font-family: 'Roboto',sans-serif;
}

.ideias-itens{
    margin-left:30px;
}
.main-index{
    margin-top: 8%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.text-index{
    margin-top: 0px;
}

.start-index:hover{
    background-color: rgb(247, 247, 247);
    color: #1d1f1f;
}
.start-index a{
    text-decoration: none;
    color: inherit;
    font-size: 15px;
}
.start-index{
    margin-top: 15px;
    color: #1d1f1f;
    background-color:rgb(233, 233, 233);
    padding: 10px 20px;
    border-radius: 8px;
}
.title-index{
    margin-top: 50px;
    font-size: 50px;
    margin-bottom: 15px;
}
.list-itens{
    list-style: none;
    display: flex;
    justify-content: left;
    margin:0;
    padding-left: 15px;
    padding-top: 15px;
}
.list-itens li{
    margin: 10px;
    width: clamp(200px, 20vw, 280px);
    aspect-ratio: 1 / 1;
    background: linear-gradient(to top, #1D1F1F, #181818b6);

    display: flex;   
    justify-content: center;  
    align-items: center;

    border-radius: 8px;
    border: 2px solid rgb(68,68,68);
}
.list-itens li:hover{
    border:2px solid rgb(140, 140, 140);
}
.list-itens a{
    display: flex;
    flex-direction: column;
    justify-content: flex-end; 
    align-items: center;    
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: rgb(167, 167, 167);
    font-weight: bold;
    padding-bottom: 15px;   
    text-align: center;
    box-sizing: border-box;
}

.list-itens li:hover a {
    color: rgb(255, 255, 255);
}
header nav ul a{
    list-style: none;
    text-decoration: none;
    font-size: 14px;
}
header nav ul{
    list-style: none;
    display: flex;
    margin:0;
    padding: 0;
}
header nav{
    display: flex;
    justify-content: space-between;
}